@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    string email = Context.Session.GetString("email");
}

@if (email != null)
{
    <form method="post" action="post/PostStatus">
        <input id="PostInput" placeholder="wys, wagwan..." type="text" />
        <input type ="submit" id="PostSubmit" />
    </form>

    <ul>
        @foreach (var data in ViewData["posts"] as List<Post>)
        {
        <li>@data.Message</li>
        }
    </ul>
}
else
{
    <div class="text-center">
        <h1 class="display-6">Welcome to</h1>
        <h2 class="display-1">Acebook</h2>
        <img class="img-fluid" src="img/holding-hands.png" />
    </div>
}
