@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/site.css" />
    string email = Context.Session.GetString("email");
    string userId = Context.Session.GetString("userId");

    List<string> friendUserIds = null;
    List<Post> filteredPosts = new List<Post> { };

    if (email != null)
    {
        friendUserIds = Friend.ListFriendIds(email);

        foreach (Post post in ViewData["posts"] as List<Post>)
        {
            if (friendUserIds.Contains(post.UserId) || post.UserId == userId)
            {
                filteredPosts.Add(post);
            }
        }
    }


    }

@if (email != null)
{
<div class="postContainer">
    <div class="container postForm">
    <div class="col s12">
    <form class="col s12 postBox" method="post" action="post/PostStatus">
        <input class="" id="message" name="message" placeholder="Wys, wagwan, post here..." type="text" /><br />
        <input type="hidden" name="userId" id="userId" value="@userId" />
        <input class="btn waves-effect waves-light" type="submit" id="PostSubmit" placeholder="Post"/>
    </form>

    </div>
    </div>
    @foreach (var data in ViewData["posts"] as List<Post>)
    {
    <div class="container postForm1">
        <div class="col s12">
            <ul class="col s12 postBox1">
                <li>@data.Message </li>
                <li class="postInfo">@($"{data.User.FirstName} {data.User.LastName}")  @data.DatePosted</li>
            </ul>
         </div>
    </div>

        }
    </div>
    }

else
{
    <div class="text-center">
        <h4 class="display-6">Welcome to</h4>
        <img class="img-fluid" src="img/holding-hands.png" />
        <h1 class="display-1">Acebook</h1>
    </div>
}
