@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/site.css" />
    string email = Context.Session.GetString("email");
    string userId = Context.Session.GetString("userId");

    List<string> friendUserIds = null;
    List<Post> filteredPosts = new List<Post> { };

    if (email != null)
    {
        friendUserIds = Friend.ListFriendIds(email);

        foreach (Post post in ViewData["posts"] as List<Post>)
        {
            if (friendUserIds.Contains(post.UserId))
            {
                filteredPosts.Add(post);
            }
        }
    }


    }

@if (email != null)
{
    <form method="post" action="post/PostStatus">
        <input id="message" name="message" placeholder="wys, wagwan..." type="text" />
        <input type="hidden" name="userId" id="userId" value="@userId" />
        <input type ="submit" id="PostSubmit" />
    </form>

    <ul>
        @foreach (var data in filteredPosts)
        {
        <li>@($"{data.User.FirstName} {data.User.LastName}") @data.Message @data.DatePosted</li>
        }
    </ul>
}
else
{
    <div class="text-center">
        <h4 class="display-6">Welcome to</h4>
        <img class="img-fluid" src="img/holding-hands.png" />
        <h1 class="display-1">Acebook</h1>
    </div>
}
