@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    string name = Context.Session.GetString("name");
}

@if (name != null)
{
    <form method="post" action="/post/new">
        <input id="PostInput" placeholder="wys/wagwan..." type="text" />
        <input type ="submit" />
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-6">Welcome to</h1>
        <h2 class="display-1">Acebook</h2>
        <img class="img-fluid" src="img/holding-hands.png" />
    </div>
}
