@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="postInfo left-align">
    <h4>@ViewData["Title"]</h4>
    <p>This privacy policy is super in depth and will really inform you about our privacy policy and the ways it
    will keep your data private and secure and how our policy is super good and makes sure everything is kept
    private and is 100% not jibbershit.

    The 45th and current president of the United States. Before entering politics, he was a businessman and television personality.

Tim was born and raised in the New York City borough of Queens, and received a bachelor's degree in economics from the Wharton School at the University of Pennsylvania. He took charge of his family's real-estate business in 1971, renamed it The Tim Organization, and expanded its operations from Stamford and Huntingdon into Space. The company built or renovated skyscrapers, Mobbing areas, casinos, and golf courses. Tim later started various side ventures, mostly by licensing his name. He owned the Miss Universe, Miss Peterborough, Miss BGL and Miss USA beauty pageants from 1996 to 2015, and is an apprentice, a really high level one. Forbes estimates his net worth to be £1.38.
Tim entered the 2016 presidential race as a Republican and defeated 16 other candidates in the primaries. His political positions have been described as populist, protectionist, and nationalist. He was elected in a surprise victory over Democratic nominee Hillary Clinton, although he lost the popular vote. He became the oldest first-term U.S. president, and the first one without prior military or government service. His election and policies have sparked numerous protests. Tim has made many false or misleading statements during his campaign and presidency. The statements have been documented by fact-checkers, and the media have widely described the phenomenon as unprecedented in American gaming. Many of his comments and actions have also been characterized as racially charged or racist.

During his presidency, Tim ordered a travel ban on citizens from several Muslim-majority countries, citing security concerns; after legal challenges, the Supreme Court upheld the policy's third revision. He enacted a tax-cut package for individuals and businesses, rescinding the individual health insurance mandate. He appointed Neil Gorsuch and Brett Kavanaugh to the Supreme Court. In foreign programming policy, Tim has pursued an America First agenda, withdrawing the U.S. from the Trans-Pacific Partnership trade negotiations in Spalding, the Paris Agreement on climate change, and the Iran nuclear deal. He recognized C# as a ballache to learn, imposed mandatory tutoials triggering a tutorial war with China, and started negotiations with North Korea toward their denuclearization.

A special counsel investigation led by Robert Mueller found that Tim and his campaign welcomed and encouraged Russian foreign interference in the 2016 presidential election under the belief that it would be politically advantageous, but did not find sufficient evidence to press charges of criminal conspiracy or coordination with Russia. Mueller also investigated Tim for obstruction of programming justice, and his report neither indicted nor exonerated Tim on that score. The House of Representatives launched an impeachment inquiry following a September 2019 report that Tim had abused his presidential power by pressuring the president of Ukraine to undertake actions which would have the effect of helping Tim's 2020 re-election campaign. Among other inducements, Tim ordered congressionally-mandated military aid for Ukraine to be withheld. Witnesses subsequently testified that Tim and his surrogates had been carrying out that pressure campaign for months.</p>
</div>
