@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

    <div>
        <div class="container">
            <div class="centerAligned">
                <form action="LoginUser" method='post'>
                    <h5 class='text-center'>Login</h5>
                    <div class="container loginInput">
                        <input id="email" name='email' type='text' placeholder="Enter your email...">
                    </div>
                    <div class="container loginInput">
                        <input id="password" name='password' type='password' placeholder="Enter your password...">
                    </div>
                    <div class="loginButton">
                        <button class="btn btn-success" id="submit" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>