@using AceBook.Models;
@using Microsoft.AspNetCore.Http;
@using AceBook.Controllers;
@using AceBook.Helpers;

@{
    ViewData["Title"] = "Friend Requests";
    var email = Context.Session.GetString("email");
}

<!DOCTYPE html>

<h1>Friend Requests</h1>

@{
    var req = Friend.GetIncomingRequest(email)[0];
}

<div id="userFriendRequest">@req.RequesterEmail</div>
<a asp-controller="User" asp-action="AcceptFriend" asp-route-requestId="@req.Id">Accept</a>
<a asp-controller="User" asp-action="DeclineFriend" asp-route-requestId="@req.Id">Decline</a>

