@using AceBook.Models;
@using Microsoft.AspNetCore.Http;
@using AceBook.Controllers;
@using AceBook.Helpers;

@{
    ViewData["Title"] = "Friend Requests";
    var email = Context.Session.GetString("email");

    var requests = Friend.GetIncomingRequest(email).Where(r => r.Status == 0).ToList();
}

<h1>Friend Requests</h1>

@if (requests.Count > 0)
{
    @foreach (Friend request in requests)
    {
        <div class="friendRequest">
            <p class="friendRequestEmail">@request.RequesterEmail</p>
            <p>
                <a class="friendRequestAccept" asp-controller="User" asp-action="AcceptFriend" asp-route-requestId="@request.Id">Accept</a>
            </p>
            <p>
                <a class="friendRequestDecline" asp-controller="User" asp-action="DeclineFriend" asp-route-requestId="@request.Id">Decline</a>
            </p>
        </div>

    }
}
else
{
    <p id="noRequestsBoss">Nobody wants to be mates with you at the moment 🤒</p>
}
