@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<div>
<div class="col s8 offset-s2 register-card row">
    <div class="col s12 z-depth-6 card-panel">
        <form class="col s12 register-form" id="register" method="post" enctype='multipart/form-data'>
            <h5 class="text-center" id="title">Register</h5>
            <div class="row margin input-section">
                <div class="input-field col s5">
                    <input id="firstName" name="firstName" type="text" class="validate"/>
                    <label for="firstName" class="center-align">First Name</label>
                </div>
                <div class="input-field col s5 offset-s1">
                   <input id="email" name="email" type="text" class="validate"/>
                   <label for="email" class="center-align">Email</label>
                </div>
            </div>
            
            <div class="row margin input-section">
                <div class="input-field col s5">
                    <input id="lastName" name="lastName" type="text" class="validate"/>
                    <label for="lastName" class="center-align">Last Name</label>
                </div>
                <div class="input-field col s5 offset-s1">
                   <input id="phoneNumber" name="phoneNumber" type="text" class="validate"/>
                   <label for="phoneNumber" class="center-align">Phone Number</label>
                </div>
            </div>
          
            <div class="row margin input-section">
                <div class="input-field col s5">
                    <input id="password" name="password" type="password" class="validate"/>
                    <label for="password" class="center-align">Password</label>
                </div>
                <div class="input-field col s5 offset-s1">
                   <input id="birthDate" autocomplete="off" name="birthDate" type="text" class="validate input-group date"/>
                   <label for="birthDate" class="center-align">Birth Date</label>
                </div>
            </div>
          
            <div class="row margin input-section">
                <div class="input-field col s5">
                    <input id="confirmPassword" name="confirmPassword" type="password" class="validate"/>
                    <label for="confirmPassword" class="center-align">Confirm Password</label>
                </div>

                 <div class="input-field col s5 offset-s1">
                    <input id="gender" name="gender" type="text" class="validate"/>
                    <label for="gender" class="center-align">Gender</label>
                </div>
            </div>

            <div class="row margin image-upload input-section">
                <input type="file" name="profilePicture" id="profilePicture" />
            </div>

            <div class="row margin input-section">
                <div class="input-field register-button col s12">
                    <button class="btn waves-effect waves-light" id="submit" type="submit">Register</button>
                </div>
            </div>

            <div class="text-center input-section">
                <div class="input-field col s12">
	                <p class="margin medium-small">Already a member of AceBook? <a href="/account/login">Login Now!</a></p>
		        </div>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts
{ 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(() => {
            $('#birthDate').datepicker();
        });
    </script>
}
